.carrito{
    .carrito__cont {
        .carrito__cont--cont{
            .carrito__cont--cont-body {
                .carrito__body{
                    .body__img{
                        width: 200px;
                        padding:20px;
                        height: 200px;
                    }
                    .body__cant {

                        .signos{
                            cursor: pointer;
                        }
                    }
                    .body__btnElim{
                        color: red;
                        cursor: pointer;
                    }
                }
            }
            &-footer{
                justify-content: space-between;

            }
        }
    }
}