main{
    .productos{
        padding: 0 20px;
        .productos__titulo{
            font-size: 3rem;
            padding-top: 100px;
            padding-bottom: 20px;
        }
        .productos__contenedorGral{
            padding: 0 100px;
            .productos__contenedorGral--contCard{
                .productos__contenedorGral--contCard-card{
                    .img__card{
                        height: 300px;
                    }
                    .contenedor__body{
                        .contenedor__body--info{
                            display: flex;
                            justify-content: space-between;
                            .contenedor__body--info--titulo{}
                            .contenedor__body--info--precio{}
                        }
                    }
                    .contenedor__body--btn{
                        background: rgb(240, 225, 200); 
                    }
                }
            }
        }
    }
}